<div id="entire-div">
    <div id="img">
        <div id="p">
            <h1 id="cp">apply your extension and open your cafe </h1>
            <div>
                <button id="registor-btn-size" type="button" class="btn btn-primary btn-lg">Resigter your restaurant</button>

                <button id="registor-btn-login" type="button" class="btn btn-light">Resigter already listed?login now</button>
            </div>
            <div id="ft">
                <h4 id="p-id">Get started with online ordering</h4>
                <div id="p-in-id">Please keep the documents ready for a smooth signup</div><br>
                <div id="maindiv">
                    <div id="fdiv">
                        <ul>

                            <!-- <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button> -->
                            <div class="fortick">
                                <div>
                                    <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button> </div>
                                <div class="font-sty">
                                    FSSAI license copy
                                </div>
                            </div>

                            <div class="fortick">
                                <div> <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button></div>
                                <div>
                                    Regular GSTIN
                                </div>
                            </div>
                            <div class="fortick">
                                <div>
                                    <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button> </div>
                                <div class="font-sty">
                                    Your restaurant menu
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div id="secdiv">
                        <ul>
                            <div class="fortick">
                                <div>
                                    <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button> </div>
                                <div>
                                    PAN card copy
                                </div>
                            </div>

                            <div class="fortick">
                                <div>
                                    <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button> </div>
                                <div>
                                    Bank account details
                                </div>
                            </div>
                            <div class="fortick">
                                <div>
                                    <button type="button" class="btn btn-link"><span class="bi bi-check-circle"></span></button> </div>
                                <div>
                                    Dish images for top 5 items
                                </div>
                            </div>


                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<div id="headline-why-mycafe">
    <h2 id="bg">Why should you partner with Mycafe? </h2>
    <br>
    <div>myCafe enables you to get 60% more revenue, 10x new customers and boost your brand</div><br>
    <div>visibility by providing insights to improve your business.</div>
</div>

<!-- card bnana hai -->
<div id="main-card-div">
    <div id="card1">
        <i class="bi bi-globe-europe-africa" style="font-size: 30px;"></i>
        <p class="p"><b>1000+cities</b></p>

    </div>
    <div id="card2">
        <i class="bi bi-shop" style="font-size: 30px;"></i>
        <p class="p"><b>4 restaurant</b></p>

    </div>
    <div id="card3">
        <i class="bi bi-cart4" style="font-size: 30px;"></i>
        <p class="p"><b>50k ordering per day</b></p>


    </div>
</div>
<!-- <span id="how-it-work-text">How it works?</span> -->
<div id="it-work-div">
    <!-- <span id="how-it-work-text">How it works?</span> -->
    <!-- <span id="how-it-work-text">How it works?</span> -->
    <div id="how-it-wrk1">
        <img class="img_howit" src="../assets/img/order_online.jpg">
        <p class="wp"><b>step 1</b></p>
        <p><b>Create your page on myCafe</b></p>

    </div>
    <div id="how-it-wrk2">

        <img class="img_howit" src="../assets/img/div_order.jpg">
        <p class="wp"><b>step 2</b></p>
        <p id="m-p"><b>Register for online ordering</b></p>


    </div>
    <div class="img_howit" id="how-it-wrk3">
        <img class="img_howit" src="../assets/img/feedback.jpg">
        <p class="wp"><b>step 3</b></p>
        <p><b>Start receiving orders feedback</b></p>

    </div>


</div>
<div id="half-it-work">
    <!-- <p>your half div part</p> -->
    <span id="how-it-work-text">How it works?</span>
</div>
<!-- ye footersection ka code laaye hai yaha pe -->
<app-footerbusiness></app-footerbusiness>