<header>
    <div class="container">
        <!-- <div class="logo">
            <img src="../../assets/img/mylogo.jpg" alt="cafe-logo">
            
        </div> -->



        <span class="frame1-text">
            
                  <p>myCafe</p>
                </span>


        <!-- <div id = "for-id">for</div> -->












        <nav>
            <ul>
                <li><a routerLink=''>Home</a></li>
                <li><a routerLink="/fooditems">Order Food</a></li>
                <li><a routerLink="/listofresturants">Restaurants</a></li>

                <li><a routerLink="/partner-with-us">Business</a></li>
            </ul>
        </nav>

        <div class="profile">
            <a routerLink="/login">Login/  </a>

            <a routerLink="/signup"> Signup</a>
        </div>
    </div>
</header>