<div id="for-footer">
    <!-- <div id="quote-feedback">
        <h1>Your feedback is important for us </h1><br>
        <h1> we improve our quality or services </h1><br>
        <h1>on basis of customers</h1>
    </div> -->
    <div class="form-container">
        <div id="quote-feedback">
            <h3 id="h3-font">Your feedback is </h3><br>
            <h3>important for us </h3><br>
            <h3>we improve our</h3> <br>
            <h3>quality or services </h3><br>
            <h3>on basis of customers</h3>
        </div>
        <div id="form-id-container">
            <h1>Feedback Form</h1>
            <form action="#" method="post">

                <!-- <label for="name">Name:</label> -->
                <input type="text" class="text-class" id="name" name="name" required placeholder="myCafe name"><br>

                <!-- <label for="email">Email:</label> -->
                <input type="email" class="text-class" id="email" name="email" required placeholder="myCafe location"><br>

                <!-- <label for="subject">Subject:</label> -->
                <input class="text-class" type="text" id="subject" name="subject" required placeholder="myCafe contact Name"><br>

                <!-- <label for="message">Message:</label> -->
                <input class="input-class" id="message" name="message" required placeholder="What do you like in myCafe"><br>

                <button id="submit-type" type="submit">Submit</button>
            </form>
        </div>
    </div>


</div>
<div id="footer-end-section">
    <div id="mycafe-logo-footer">
        <div id="mycafe-logo-text-div">
            <h1 id="mycafe-logo-p">Mycafe</h1>
        </div>
        <div id="down-btn-div">
            <button class="dropdown-btn"><div id ="india-dwn"><div><b>India </b></div><div><i class="bi bi-chevron-down"></i></div></div></button>

        </div>
        <div id="down-eng-div">

            <button class="dropdown-btn"> <div id ="eng-strt"><div><b>English </b></div><div><i id ="down-icon" class="bi bi-chevron-down"></i></div></div></button>

        </div>


    </div>
</div>