<div id="main-div-bcg">
    <img id="img-id" src='../../assets/img/resturantimg1.jpg'></div>
<div id="list-restarnt-div">
    <div id="div-india-logo-paragraph">
        <div>
            <h1>Popular restuarnt in India and Your Extension</h1>
        </div>
        <div>
            <img id="india-logo" src="../../assets/img/indialogo2.jpg">
        </div>
    </div>
    <div id="city-reso">
        <div id="city-name">
            <div>
                <h2>Bihar Restuarnt</h2>
            </div>
            <div id="arrow">
                <!-- <h2 id="arrow"> ></h2> -->
                <i class="bi bi-caret-right " style="font-size: 38px;"></i>
            </div>
        </div>
    </div>