<!-- HTML code for the food item -->
<h1 id="h1-heading-order"><b>Order food online</b></h1>
<div id="griding">
    <div class="food-item">
        <div id="img-div"> <img id="chai_img" src="../assets/img/chai_sutta.jpg" alt="Chai Sutta Bar"></div>

        <div class="details">
            <div>
                <span id="span-chai-title">Chai sutta Bar </span>
                <span id="rate-id">4.3*</span>

            </div>
            <!-- <div>
           
        </div> -->
        </div>
    </div>
    <div class="food-item">
        <div id="img-div"> <img id="chai_img" src="../assets/img/chai_thekka.jpg" alt="Chai thekka"></div>

        <div class="details">
            <div>
                <span id="span-chai-title">Chai thekka </span>
                <span id="rate-id">4.1*</span>

            </div>
            <!-- <div>
           
        </div> -->
        </div>
    </div>
    <div class="food-item">
        <div id="img-div"> <img id="chai_img" src="../assets/img/starbucks.jpg" alt="Starbucks"></div>

        <div class="details">
            <div>
                <span id="span-chai-title">Starbucks </span>
                <span id="rate-id">4.8*</span>

            </div>
            <!-- <div>
           
        </div> -->
        </div>
    </div>
    <div class="food-item">
        <div id="img-div"> <img id="chai_img" src="../assets/img/chaat_bazar.jpg" alt="Chaat Bazaar"></div>

        <div class="details">
            <div>
                <span id="span-chai-title">Chaat Bazaar </span>
                <span id="rate-id">4.4*</span>

            </div>
            <!-- <div>
           
        </div> -->
        </div>
    </div>
</div>
<div id="items-bar">
    <div>
        <img id="paneer-img" src="../assets/img/paneer_tika_img.jpg">


    </div>
    <div id="paneer-details">
        <h4>Panner tikka burger</h4>
        <p id="price-bg"><b>Rs 60/-</b></p>
        <span class="rating">
            <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <!-- <span class="star"></span> -->
        <img id="unrated_star" src="../../assets/img/star1jpg.jpg">

        </span><br>
        <button id="add"><b>Add+</b></button>
        <button id="delete"><b>Delete -</b></button>
    </div>
    <!-- add items in carts and delete button -->





</div>
<!-- <div id="items-bar">
    <h4>Veg Chowmin</h4>
    <p>Rs 80/-</p>
</div>
<div id="items-bar">
    <h4>French Fries</h4>
    <p>Rs 60/-</p>
</div>
<div id="items-bar">
    <h4>Veg Sandwich</h4>
    <p>Rs 40/-</p>
</div>
<div id="items-bar">
    <h4>Aalu Patties</h4>
    <p>Rs 30/-</p>
</div>
<div id="items-bar">
    <h4> Veg Wrap</h4>
    <p>Rs 100/-</p>
</div>
<div id="items-bar">
    <h4>Chilli Potato</h4>
    <p>Rs 80/-</p>
   
</div> -->